/* You can add global styles to this file, and also import other style files */
body{
    margin-bottom: 40;
    padding: 10px;
    background-color: rgb(232, 232, 232);
    height: 50px;

}

full-calendar.fc.fc-media-screen.fc-direction-ltr.fc-theme-standard {
    margin-top: 10px;
    height: 650px;
}